.pull-requests {
}

.pull-request {
  display: flex;
  align-items: center;
  margin: 2px;
}

.identity-image-container {
  margin-right: 5px;
  margin-left: 5px;
}

.identity-image {
  width: 40px;
  height: 40px;
}

.pull-request-details {
  flex-grow: 1;
  color: #6d6d6d;
  font-size: 12px;
}

.pull-request-details .fa {
  font-size: 14px;
}

.pull-request-title {
  font-size: 14px;
  color: #007acc;
  text-decoration: none;
}

.pull-request-title a:hover {
  text-decoration: none;
}

.vote {
  font-size: 14px !important;
}

.approved {
  color: #006600;
}

.rejected {
  color: #e60000;
}

.waiting {
  color: #f8a800;
}

.conflicts {
  color: #e60000;
  border-radius: 3px;
  border: 1px solid;
  padding-left: 2px;
  padding-right: 1px;
  padding-top: 1px;
}

.repo {
  color: #333333;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.settings-container {
  min-width: 250px;
  font-size: 12px;
}