.my-widget {
  padding: 0px 8px;
}

.category-header {
  padding-bottom: 6px;
  padding-top: 8px;
  font-size: 16px;
}

.pull-requests {
}

.pr-row {
  border-top: 1px #e4e6e8 solid;
}

.pull-request {
  display: flex;
  align-items: center;
  margin: 3px;
}

.my-widget .pull-request {
  margin: 1px !important;
}

.identity-image-container {
  margin-right: 5px;
}

.identity-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.my-widget .identity-image {
  width: 32px !important;
  height: 32px !important;
}

.pull-request-details {
  flex-grow: 1;
  color: #6d6d6d;
  font-size: 12px;
  width: calc(100% - 40px);
}

.pull-request-title {
  font-size: 14px;
  color: #007acc;
  text-decoration: none;
}

a.pull-request-title:hover {
  text-decoration: none;
}

.title-container {
  margin-bottom: -4px;
}

.container-nowrap {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.git-icon {
  margin-right: 1px;
  font-size: 14px !important;
}

.branch-icon {
  margin-right: 2px;
  font-size: 14px !important;
}

.vote-container {
  display: inline-block;
}

.compact-details {
  display: flex;
}

.compact-details-bottom-left {
  flex-shrink: 1;
  flex-grow: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.compact-details-bottom-right {
  align-self: flex-end;
  flex-grow: 0;
  flex-shrink: 0;
}

.vote {
  margin-right: 2px;
  font-size: 14px !important;
}

.approved {
  color: #006600;
}

.rejected {
  color: #e60000;
}

.waiting {
  color: #f8a800;
}

.repo-icon {
  transform: scale(0.75)
}

.conflicts {
  color: #e60000;
  border-radius: 3px;
  border: 1px solid;
  margin: -2px;
  font-size: 12px;
}

.repo {
  color: #333333;
}

.settings {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 20px;
  margin-top: 10px;
}

.settings-container {
  min-width: 250px;
  font-size: 12px;
}

.widget-footer {
  position: fixed;
  text-align: right;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5px 10px;
  z-index: 1050;
}