<div class="pull-request">
  <div class="identity-image-container">
    <img src="{{pullRequest.createdByImageUrl}}" class="identity-image">
  </div>
  <div class="pull-request-details">
    <div class="pull-request-title">
      <a href="{{pullRequest.remoteUrl}}">{{pullRequest.title}}</a>
    </div>
    <div>
      <span class="repo">{{pullRequest.repositoryName}}</span>, from <i class="fa fa-code-fork"></i> {{pullRequest.sourceRefName}} to <i class="fa fa-code-fork"></i> {{pullRequest.targetRefName}}
    </div>
    <div>
      by {{pullRequest.createdBy}}, at {{pullRequest.createdDate | date: 'dd/MM/yyyy hh:mm'}}
    </div>
    <div *ngIf="pullRequest.hasMergeConflicts">
      <i class="fa fa-exclamation-circle vote rejected"></i> Merge Conflicts
    </div>
    <div>
      <span *ngFor="let reviewer of reviewers; let i=index;"><span *ngIf="i>0">, </span><i class={{getVoteClasses(reviewer)}} title="{{getVoteTooltip(reviewer)}}"></i> <span title="{{reviewer.isRequired ? reviewer.displayName + ' (Required)' : reviewer.displayName}}">{{reviewer.isRequired ? reviewer.displayName + '*' : reviewer.displayName}}</span></span>
    </div>
  </div>
</div>
